@model IEnumerable<Car_Rental.Business.Model.Pending_RentalsModel>
@inject IHttpContextAccessor HttpContextAccessor

<h1>Pending Rentals</h1>
<hr />
<table class="table table-striped table-hover">
    <tr>
        <th>
            Id
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_Email_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plate_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rent_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Return_Date)
        </th>
        <th>
            Fees
        </th>
        <th>
            Final Fee <br /> Fee+Panlty
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Car_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Email_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plate_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rent_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Return_Date)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Price)         
            </td>
            <td>
                @{
                    var expiredate = item.Return_Date;
                    var currentdate = DateTime.Now;
                    var Panlty = 200 * (currentdate - expiredate).Days;
                    var Late_day = (currentdate - expiredate).Days;
                    var Total_Fee = item.Price + Panlty;

                }

                @if(Late_day <= 0)
                {
                    <div class="myDIV">@item.Price</div>
                    <div class="hide popup">Extra_days = 0 days Rental_panlty = 0₹ Total_Fee =<u>@item.Price</u></div>
                }
                else
                {
                    <div class="myDIV">@Total_Fee</div>
                    <div class="hide popup">Extra_days = @Late_day days Rental_panlty = @Panlty₹ Total_Fee =<u>@Total_Fee</u></div>
                }
            </td>
            <th>
                Booked
            </th>
            <td>
                @if (HttpContextAccessor.HttpContext.Session.GetString("UserEmail").ToUpper() == item.Customer_Email_Id.ToUpper() ||
                     HttpContextAccessor.HttpContext.Session.GetString("LoginBy") != "Customer")
                {
                    if (HttpContextAccessor.HttpContext.Session.GetString("LoginBy") != "Customer")
                    {
                        @Html.ActionLink("Remove", "Delete","Pending_Rentals", new { id = item.Car_Id})
                    }
                    else if(Panlty <= 0)
                    {
                        @Html.ActionLink("Remove", "Delete","Pending_Rentals", new { id = item.Car_Id})
                    }
                    else
                    {
                        <strike onclick="myFunction()">Remove</strike>          
                    }
               
                }
                else
                {
                    <strike onclick="myFunction1()">Remove</strike>

                }
            </td>
        </tr>
    }
</table>