@model IEnumerable<Car_Rental.Business.Model.CustomerModel>

<h3 id="offline_cust_h">Offline Customers</h3>
<hr />
<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_City)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.Where(item => item != null))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_City)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Customer_Id}, new {@class ="btn btn-danger btn-sm"}) &nbsp;&nbsp;&nbsp;
                @Html.ActionLink("Update", "UpdateOfflineCustomer", new { id = item.Customer_Id}, new {@class ="btn btn-success btn-sm"})
            </td>
        </tr>
    }
</table>