@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Car_Rental.Web</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Car_Rental.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/User_Login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Customer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Panlty_PopUp.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Car_Services.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-warning border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (!string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("UserEmail")))
                            {
                            var logby = HttpContextAccessor.HttpContext.Session.GetString("LoginBy");
                            if (logby == "Customer")
                            {
                                <li class="nav-item1 Nav_Hover">
                                    <a style="cursor:pointer" class="nav-link text-dark" data-bs-toggle="offcanvas" data-bs-target="#demo">Menu</a>
                                </li>
                                <li class="nav-item Nav_Hover">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Customers_Car_Inventory">Home</a>
                                </li>
                                <li class="nav-item Nav_Hover">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Customer_Home_Page">Cars</a>
                                </li>
                                <li class="nav-item Nav_Hover">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Specific_Customer_Pending_Rentals">Pending Rents</a>
                                </li>
                                <li class="nav-item Nav_Hover">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="LogOut">LogOut</a>
                                </li>
                                <li class="nav-item Nav_Hover">
                                    @{
                                        var Userimgs = @HttpContextAccessor.HttpContext.Session.GetString("UserImg");
                                        if(Userimgs != null)
                                        {
                                            /* <img class="userImg rounded-circle" src="@Userimgs"> */
                                            <div id="userimage" class="profile-pich">
                                                <img class="ProfilePich" src="@Userimgs" />
                                            </div>

                                        }
                                        else
                                        {
                                            <div class="profile-pich">
                                                <img class="ProfilePich" src="@Userimgs" />
                                            </div>
                                        }

                                    } 
                                </li>
                                <li class="nav-item Nav_Hover UserName">

                                    <a class="nav-link text-dark text-uppercase">
                                        @{
                                            var user_id = HttpContextAccessor.HttpContext.Session.GetString("UserID");
                                            var username = HttpContextAccessor.HttpContext.Session.GetString("UserEmail").ToUpper();
                                            var final_User_Name = "";
                                            foreach (var it in username)
                                            {
                                                if (it == '@')
                                                {
                                                    break;
                                                }
                                                final_User_Name += @it;
                                            }
                                        }
                                        <t> @Html.ActionLink(final_User_Name, "UserProfileUpdate", "User", new { id = user_id}) </t>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item1 Nav_Hover">
                                    <a style="cursor:pointer" class="nav-link text-dark" data-bs-toggle="offcanvas" data-bs-target="#demo">Menu</a>
                                </li>
                                <li class="nav-item Nav_Hover">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Admin_Pannel">Home</a>
                                </li>
                                <li class="nav-item Nav_Hover">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AvailableCars">Cars</a>
                                </li>
                                <li class="nav-item Nav_Hover">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Customers">Customers</a>
                                </li>
                                <li class="nav-item Nav_Hover">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="OfflineCustomers">Offline Customers</a>
                                </li>
                                <li class="nav-item Nav_Hover">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Customer_PendingRentals">Rentals</a>
                                </li>
                                <li class="nav-item Nav_Hover">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="LogOut">LogOut</a>
                                </li>
                                <li class="nav-item Nav_Hover">
                                    @{
                                        var Userimgs = @HttpContextAccessor.HttpContext.Session.GetString("UserImg");
                                        if (Userimgs != null)
                                        {
                                            <div class="Aprofile-pich">
                                                <img class="AProfilePich" src="@Userimgs" />
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="Aprofile-pich">
                                                <img class="AProfilePich" src="@Userimgs" />
                                            </div>
                                        }

                                    }
                                </li>
                                <li class="nav-item Nav_Hover">

                                    <a class="nav-link text-dark text-uppercase">
                                        @{
                                            var user_id = HttpContextAccessor.HttpContext.Session.GetInt32("UserID");
                                            var username = HttpContextAccessor.HttpContext.Session.GetString("UserEmail").ToUpper();
                                            var final_User_Name = "";
                                            foreach (var it in username)
                                            {
                                                if (it == '@')
                                                {
                                                    break;
                                                }
                                                final_User_Name += it;
                                            }
                                        }
                                        <div class="ProfileLink"><a> @Html.ActionLink(final_User_Name, "UserProfileUpdate", "User", new { id = user_id}) </a></div>
                                    </a>
                                </li>

                            }

                        }
                        else
                        {
                            <li class="nav-item" style="margin-left:37%;">
                                <h4 id="NavHeader" class="nav-link text-dark">Car Rental Management System</h4>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
        @if (@HttpContextAccessor.HttpContext.Session.GetString("LoginBy") == "Customer")
        {
              @*Menue bar Code starting*@
              <div class="offcanvas offcanvas-start" id="demo">
                  <div class="offcanvas-header">
                      <h1 class="offcanvas-title"> Menu</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                  </div>
                  <div class="offcanvas-body">
                <p class="menu-link"><a class="nav-link text-dark menu-links" asp-controller="On_Location_Service_" asp-action="Car_Service">&#128073; Request On Location Service immediately</a></p>
                  </div>
              </div>
              @*Menue bar Code Ending*@
        }
        else
        {
        <div class="offcanvas offcanvas-start" id="demo">
            <div class="offcanvas-header">
                <h1 class="offcanvas-title"> Menu</h1>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">
                <p class="menu-link"><a class="nav-link text-dark menu-links" asp-controller="Admin" asp-action="Add_New_Car">&#128073; Add New Cars in Garage</a></p>
                <p class="menu-link"><a class="nav-link text-dark menu-links" asp-controller="User" asp-action="Add_New_Customer">&#128073; Add New Offline Customer</a></p>
                <p class="menu-link"><a class="nav-link text-dark menu-links" asp-controller="Pending_Rentals" asp-action="Renting_For_Offline_Customers">&#128073; Rent A Car for Offline Customer</a></p>
                <p class="menu-link"><a class="nav-link text-dark menu-links" asp-controller="Pending_Rentals" asp-action="Show_History">&#128073; All Rentals History</a></p>
                <p class="menu-link"><a class="nav-link text-dark menu-links" asp-controller="Admin" asp-action="Track_Live_Location">&#128073; Track Cars live Location</a></p>
                <p class="menu-link"><a class="nav-link text-dark menu-links" asp-controller="On_Location_Service_" asp-action="On_Service_Requests">&#128073; See On Location Requests</a></p>

            </div>
        </div>
        }

        @* Footer Section Starting*@
        @if (!string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("UserEmail")))
        {
            <div class="footer_section">
                <div class="container">
                    <div class="footer_location_text">
                        <ul style="list-style-type:none;margin-left:20vh">
                            <li><span class="padding_left_10">📧 <a href="#">TRental@gmail.com</a></span></li>
                            <li><span class="padding_left_10">📞 <a href="#">Call : +91_XXXXXXXXXX</a></span></li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <h2 class="useful_text">Useful link </h2>
                            <div class="footer_menu">
                            <ul class="no-bullets">
                                    <li><a href="@Url.Action("Customers_Car_Inventory","Admin")">Home</a></li>
                                    <li><a href="@Url.Action("Footer_About","User")">About</a></li>
                                    <li><a href="@Url.Action("MailSendform","User")">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <h2 id="repair" class="useful_text">Repair</h2>
                            <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur  adipiscinaliqua  Loreadipiscing </p>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <h2 class="useful_text">Social Media</h2>
                            <div id="social">
                                <a class="facebookBtn smGlobalBtn" href="#"></a>
                                <a class="twitterBtn smGlobalBtn" href="#"></a>
                                <a class="googleplusBtn smGlobalBtn" href="#"></a>
                                <a class="linkedinBtn smGlobalBtn" href="#"></a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <h1 class="useful_text">Our Rentals center</h1>
                            <p class="footer_text">Lorem ipsum dolor sit amet, consectetur adipiscinaliquaLoreadipiscing </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- footer section end -->
            <!-- copyright section start -->
            <div class="copyright_section">
                <div class="container">
                    <p class="copyright_text">2023 All Rights Reserved, Design by Thakur Jangid.</p>
                </div>
            </div>
            <!-- copyright section end -->
        }
    </>
    <script src="~/js/On_Location_Service.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {
            var Message = '@TempData["Message"]';
            if (Message != '') {
                alert(Message);
            }
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
