@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Car_Rental.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Car_Rental.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/User_Login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Customer.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-warning border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (!string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("UserEmail")))
                            {
                            var logby = HttpContextAccessor.HttpContext.Session.GetString("LoginBy");
                            if (logby == "Customer")
                            {
                                <li class="nav-item1">
                                    <a style="cursor:pointer" class="nav-link text-dark" data-bs-toggle="offcanvas" data-bs-target="#demo">Menu</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Customers_Car_Inventory">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Customer_Home_Page">Cars</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Pending_Rentals" asp-action="Customer_PendingRentals">Pending Rents</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="LogOut">LogOut</a>
                                </li>
          
                            }
                            else
                            {
                                <li class="nav-item1">
                                    <a style="cursor:pointer" class="nav-link text-dark" data-bs-toggle="offcanvas" data-bs-target="#demo">Menu</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Admin_Pannel">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AvailableCars">Cars</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Customers">Customers</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="OfflineCustomers">Offline Customers</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Pending_Rentals" asp-action="Customer_PendingRentals">Rentals</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="LogOut">LogOut</a>
                                </li>
                            }

                        }
                        else
                        {
                            <li class="nav-item" style="margin-left:37%;">
                                <h4 id="NavHeader" class="nav-link text-dark">Car Rental Management System</h4>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
        @if (@HttpContextAccessor.HttpContext.Session.GetString("LoginBy") == "Customer")
        {
              @*Menue bar Code starting*@
              <div class="offcanvas offcanvas-start" id="demo">
                  <div class="offcanvas-header">
                      <h1 class="offcanvas-title"> Menu</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                  </div>
                  <div class="offcanvas-body">
                      <p>Available Soon...</p>
                      <p>Available Soon...</p>
                  </div>
              </div>
              @*Menue bar Code Ending*@
        }
        else
        {
        <div class="offcanvas offcanvas-start" id="demo">
            <div class="offcanvas-header">
                <h1 class="offcanvas-title"> Menu</h1>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">
                <p><a class="nav-link text-dark" asp-controller="Admin" asp-action="Add_New_Car">&#128073; Add New Cars in Garage</a></p>
                <p><a class="nav-link text-dark" asp-controller="User" asp-action="Add_New_Customer">&#128073; Add New Offline Customer</a></p>
                <p><a class="nav-link text-dark" asp-controller="Pending_Rentals" asp-action="Renting_For_Offline_Customers">&#128073; Rent A Car for Offline Customer</a></p>
            </div>
        </div>
        }

        @* Footer Section Starting*@
        @if (!string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("UserEmail")))
        {
            <div class="footer_section">
                <div class="container">
                    <div class="footer_location_text">
                        <ul style="list-style-type:none">
                            <li><span class="padding_left_10"><a href="#">Loram Ipusm hosting web</a></span></li>
                            <li><span class="padding_left_10">📧 <a href="#">demo@gmail.com</a></span></li>
                            <li><span class="padding_left_10">☏ <a href="#">Call : +91_XXXXXXXXXX</a></span></li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <h2 class="useful_text">Useful link </h2>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="@Url.Action("HomePage","Book")">Home</a></li>
                                    <li><a href="@Url.Action("About","Home")">About</a></li>
                                    <li><a href="@Url.Action("Enquiry","Home")">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <h2 id="repair" class="useful_text">Repair</h2>
                            <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur  adipiscinaliqua  Loreadipiscing </p>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <h2 class="useful_text">Social Media</h2>
                            <div id="social">
                                <a class="facebookBtn smGlobalBtn active" href="#"></a>
                                <a class="twitterBtn smGlobalBtn" href="#"></a>
                                <a class="googleplusBtn smGlobalBtn" href="#"></a>
                                <a class="linkedinBtn smGlobalBtn" href="#"></a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <h1 class="useful_text">Our Rentals center</h1>
                            <p class="footer_text">Lorem ipsum dolor sit amet, consectetur adipiscinaliquaLoreadipiscing </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer section end -->
            <!-- copyright section start -->
            <div class="copyright_section">
                <div class="container">
                    <p class="copyright_text">2020 All Rights Reserved. Design by Thakur Jangid.</p>
                </div>
            </div>
            <!-- copyright section end -->
        }
    </>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            var Message = '@TempData["Message"]';
            if (Message != '') {
                alert(Message);
            }
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
