@model IEnumerable<Car_Rental.Business.Model.Pending_RentalsModel>
@inject IHttpContextAccessor HttpContextAccessor

<h1>Rentals History</h1>
<hr />
<div class="CustomerPendigRentals">
<table class="table table-striped table-hover">
    <tr>
        <th>
            Id
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_Email_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_Mobile_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_Addhar_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_Home_City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_Home_Address)
        </th>       
        <th>
            @Html.DisplayNameFor(model => model.Plate_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rent_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Return_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Car_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Email_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Mobile_No)
            </td>
            <td>
                    @{
                        string addharnum = item.Customer_Addhar_No;
                        string realaddhar = "";
                        int cnt = 0;
                        for (int i = 0; i < 12; i++)
                        {
                            realaddhar += addharnum[i];
                            cnt++;
                            if (cnt == 4 && i < 10)
                            {
                                realaddhar += '-';
                                cnt = 0;
                            }
                        }
                        @Html.DisplayFor(modelItem => realaddhar)
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Home_City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Home_Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plate_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rent_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Return_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
    }
</table>
</div>