@model IEnumerable<Car_Rental.Business.Model.CarModel>

    <h1>Cars In Garage</h1>
    <hr />
<table class="table table-dark table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Car_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plate_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            Status🟢
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Car_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plate_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @{
                    var status = item.Available.ToUpper();
                    if (status == "AVAILABLE" || status == "YES")
                    {
                        @Html.DisplayFor(modelItem => item.Available) <t>🟢</t>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Available) <t>🔴</t>
                    }
                }
            </td>
            <td>
                <t id="Car_Delete"> @Html.ActionLink("Delete", "Delete", new { id = item.Car_Id})</t>
                @Html.ActionLink("Update", "UpdateCar", new { id = item.Car_Id})
            </td>
        </tr>
    }
</table>
